<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/products" method="POST">
      <input type="text" name="name" placeholder="Product name">
      <input type="text" name="rating" placeholder="Rating">
      <input type="submit">
    </form>

    <h3>Browse our amazing products!</h3>
    {% for product in allProducts -%}
      <a href="products/{{ product.id }}">{{ product.name }}</a> {% if product.id === topRated.id %} ⭐ {% endif %}
      {{ product.rating }}<br>
    {%- endfor %}

  </body>
</html>
