<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Acme|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <div class="main">
      <a href="/products">All products</a>
      <p>I can't stop this feeelinnn... deep inside of meeee!</p>
      {{ product.name }}
      {{ product.rating }}
      <form class="" action="/products/{{ product.id }}?_method=DELETE" method="POST">
        <!-- Method override command ?_method to override the method -->
        <input type="submit" name="" value="Delete">
      </form>
    </div>

  </body>
</html>
